{
	"printWidth": 200,
	"trailingComma": "es5",
	"bracketSpacing": false,
	"tabWidth": 4,
	"useTabs": true,
	"htmlWhitespaceSensitivity": "strict",
	"jsxBracketSameLine": true,
	"semi": true,
	"singleQuote": true,
	"arrowParens": "always"
}
